<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list *ngIf="tipo == 'checkbox'">
      <ion-item *ngFor="let item of respuestas">
        <ion-label>{{item.texto}}</ion-label>
        <ion-checkbox color="dark" checked="false"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="tipo == 'radio'">
      <ion-item *ngFor="let item of respuestas">
        <ion-label>{{item.texto}}</ion-label>
        <ion-radio color="dark" checked="false"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="tipo == 'select'">
      <ion-item *ngFor="let item of respuestas2">
        <ion-label>{{item.texto}}</ion-label>
        <ion-select>
          <ion-option>Muy Poco/nada</ion-option>
          <ion-option>Algo</ion-option>
          <ion-option>Moderadamente</ion-option>
          <ion-option>Bastante</ion-option>
          <ion-option>Extramadamente</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <button *ngIf="indice < 2" ion-item icon-right color="danger" (click)="itemSelected($event)" >
    Siguiente
    </button>

    <button *ngIf="indice == 2" ion-item icon-right color="danger" (click)="finalizar($event)" >
    Finalizar
    </button>

</ion-content>
